Pillow
PyMuPDF
PyOpenGL
PyOpenGL_accelerate
PyPDF2
Scipy
accelerate
addict
aiohttp
albumentations
blend_modes
color-matcher
colour-science
diffusers
einops
fal-client
filelock
ftfy
fvcore
gdown
gguf
glfw
glitch_this
google-cloud-storage
google-genai
httpx
huggingface-hub
imageio-ffmpeg
importlib-metadata
kornia
librosa
loguru
matplotlib
mediapipe
moviepy
mss
numba
numpy
ollama
omegaconf
onnx
onnxruntime-gpu
open_clip_torch
openai
opencv-contrib-python-headless
pdf2image
peft
pillow
pixeloe
protobuf
psutil
pyloudnorm
pymatting
python-dateutil
pyyaml
rembg
reportlab
requests
rotary-embedding-torch
runwayml
safetensors
scikit-image
scikit-learn
scipy
sentencepiece
sounddevice
taichi
timm
torch
torchvision
tqdm
transformers
transparent-background
trimesh
yacs
yapf
